<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Web Khách Hàng</title>
    <link rel="stylesheet" href="../static/css/style_navbar.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="header">
        <h1>Khách hàng</h1>
      </div>
      <div class="menu">
        <div class="menu-item">
          <a href="/view_purchases">Xem Sách Đã Mua</a>
        </div>
      </div>
      <a class="logout" href="/logout"><button>Đăng Xuất</button></a>
    </div>

    <div class="content">
      <!-- Nội dung có thể được thêm vào đây -->
    </div>
  </body>
</html>
