<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>page employe</title>
    <link rel="stylesheet" href="../static/css/style_navbar.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="header">
        <h1>Dashboard</h1>
      </div>
      <div class="menu">
        <div class="menu-item"><a href="/add_book_form">Thêm Sách Mới</a></div>
        <div class="menu-item"><a href="/add_author_form">Thêm Tác Giả</a></div>
        <div class="menu-item">
          <a href="/add_publisher_form">Thêm Nhà Xuất Bản</a>
        </div>
        <div class="menu-item">
          <a href="/add_to_inventory_form">Nhập Kho Hàng</a>
        </div>
        <div class="menu-item"><a href="/view_inventory">Xem Kho Hàng</a></div>
        <div class="menu-item">
          <a href="/record_sale_form">Ghi Nhận Bán Hàng</a>
        </div>
        <div class="menu-item">
          <a href="/edit_data_form">Sửa Thông Tin Sách</a>
        </div>
        <div class="menu-item"><a href="/delete_data_form">Xóa Sách</a></div>
      </div>
      <a class="logout" href="/logout"><button>Đăng Xuất</button></a>
    </div>

    <div class="content">
      <!-- Nội dung của bạn có thể được thêm vào đây -->
    </div>
  </body>
</html>
