<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Xóa Sách</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
<body>
    <!-- Hiển thị thông báo flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>Ghi Nhận Bán Hàng</h1>
    <form action="/record_sale" method="post">
        <label for="book_id">ID Sách Đã Bán:</label>
        <input type="text" name="book_id" required>
        
        <label for="quantity">Số Lượng:</label>
        <input type="text" name="quantity" required>
        
        <label for="phone">Số Điện Thoại Khách Hàng:</label>
        <input type="text" name="phone" required>
        
        <button type="submit">Ghi Nhận</button>
    </form>
    <a href="/employee_dashboard">Quay lại Bảng Điều Khiển</a>
</body>
</html>
